.servic_title h5, .servic_title span{
    color: #E26D2F;
}
.servic_title h2{
    font-weight: 700;
    color: #0e2048;
    font-size: 2.7rem;
}
.servic_title p{
    color: #333;
}
.card{
    border: none !important;
}
.card-img{
    position: relative;
    max-width: 500px;
    height: 220px;
    overflow: hidden;
}
.card-img img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    z-index: -1;
}
.card-img img:hover{
    -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.card_btn{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%);
    padding: 7px 100px;
    border: none;
    outline: none;
    background: #ffffff;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;
    z-index: 1;
}
.card_btn:hover{
    background: #E26D2F;
    color: #ffff;
}