.left_side_text h6{
    color: #E26D2F;
}
.left_side_text h2{
    font-weight: 700;
}
.left_side_text span{
    color: #E26D2F;
}
.about_btn button{
    background: none;
    color: #E26D2F;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    outline: none;
    text-align: justify;
}